@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel&display=swap');

.new-recipe Button {
    background-color: white;
}

#add-button h4 {
    font-family: 'Lovers Quarrel', cursive;
    color: #7E8988;
    font-size: 6vw;
}
