.gallery {
    height: 100vh;
    text-align: center;
}
.gallery img {
    z-index: -1;
}
.gallery h1 {
    position: absolute;
    top: 20%;
    left: 18%; 
    font-size: 8vw;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 2px #614966;
}