.modal-body {
    overflow: hidden;
}

.modal-body img {
    max-width: 90%;
    max-height: 60vh;
    margin-bottom: 5%;
    margin-left: 8%;
}
.modal-body h1{
    padding: 1rem 1rem 1rem 3rem;
}
.modal-body h3{
    padding: 0 1rem 1rem 3rem;
}
.modal-body h4{
    padding: 1rem 1rem 1rem 3rem;
}
.delete-button {
    background-color: #a67ea8;
    border: solid 2px #a67ea8;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    color: white;
}