.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.grid-container {
  grid-template-areas: 
  "Auth   main"
  "cake   nav"
  "cake   logo"
  "cake   description"
  "cake   popsicles"
  ".      popsicles";
  grid-template-columns: 55% 45%;
  grid-template-rows: 5% 10% 20% 10% 5%;
  display: grid;
  width: 100vw; 
}